@import './base.css';

body {
  background: black;
  color: #ddd;
  margin: 0;
}

a {
  cursor: pointer;
  color: #8cd;
  text-decoration: none;
}
a:hover {
  color: #8cf;
  text-decoration: underline;
}
p a,
.caption a {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: #777;
}

p a:hover,
.caption a:hover {
  color: #fff;
  text-decoration-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.explanation-text {
  font-size: 0.875rem;
  text-align: left;
}
.dimmed-text {
  color: #888;
}

.hoverafter-trigger + .hoverafter-displayer {
  display: none;
}
.hoverafter-trigger:hover + .hoverafter-displayer {
  display: block;
}
