@import './base.css';

body {
  background: black;
  color: #ddd;
  margin: 0;
}

a {
  cursor: pointer;
  color: #6ac;
  text-decoration: none;
}
a:hover {
  color: #8cf;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.vector-readout {
  white-space: normal;
}
.vector-readout .vector-readout-value {
  display: inline-block;
}

.vector-readout .vector-readout-value {
  margin-left: 0.5em;
}
